.gallery-links {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    background: rgba(1, 1, 1, 0.8);
    z-index: 3;
    display: flex;
    border-radius: 20px;
  }
  
  .gallery-links .preview-link{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    line-height: 1.2;
    margin: 30px 8px 0 8px;
  }
  
 .gallery-links:hover {
    opacity: 1;
    background: #222425;
   transform: scale(1.1);
   opacity: 0.5;
   color: #fff;

  }
  
 .preview-link {
    margin-top: 0;
  }
  

  